@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

header{

display: flex;
justify-content: space-between;
align-items: center;
background-color: #f0803c;
color: #fff;
padding: 10px 80px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.logo img{

    width: 50px;
}

.navbar{

    display:flex;
    gap:20px;
}

.navbar a{

font-weight: 600;
padding: 10px 20px;
font-size: 1 rem;
color:#fff;
transition:0.3s;
position: relative;

}

.navbar li{

    position: relative;
}

.navbar a::after{

    content:"";
    width:0;
    height:3px;
    background:#ffd1a3;
    position:absolute;
    bottom:-4px;
    left:0;
    transition:0.5s;

}

.navbar a:hover::after{
    width:100%;
}

#menu-icon
{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: None;
}

.header-btn a{

    padding: 10px 20px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.3s;


}

.header-btn .sign-in{

    background-color: #ffd1a3;
    color:#f0803c;
    border-radius: 0.5 rem;
    border: 2px solid #ffd1a3;
    text-wrap: nowrap;
}

.header-btn .sign-in:hover{

    background-color: #f0903c;
    color: #fff;
}

.header-btn .sign-up{

    background-color: #ffd1a3;
    color:#f0803c;
    border-radius: 0.5 rem;
    border: 2px solid #ffd1a3;
    text-wrap: nowrap;
}

.header-btn .sign-up:hover{
    background-color: #f0903c;
    color:#fff;
}
.Home{
    width:100%;
    min-height: 100vh;
    position: relative;
    background: url(img/KrishStore.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    padding: 0 100px;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}
.Home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}
.text{
    position: relative;
    z-index: 2;
}
.text h1{
    font-size: 3.5rem;
    letter-spacing: .5px;
    line-height: 1.2;
    color: #f0803c;
}
.text span{
    color: #fff;
}
.text p{
    margin:0.5rem 0 1.5 rem ;
    font-size: 1.2rem;
    max-width: 500px;
}
.app-stores{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}
.app-stores img{
    width: 120px;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.5));
    cursor: pointer;
    transition: 0.3s;
}
.app-stores img:hover{
    transform: scale(1.1);
}